@using MattEland.Jaimes.Domain
@using MattEland.Jaimes.ServiceDefinitions.Responses
@using MattEland.Jaimes.Web.Components.Chat
@using MudBlazor

<MudDialog>
    <DialogContent>
        <div class="context-chat-container">
            <ReadOnlyConversation MessageId="@MessageId" ContextCount="5" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public int MessageId { get; set; }

    private void Close() => MudDialog.Close(DialogResult.Ok(true));
}
