@page "/games"
@rendermode InteractiveServer

<PageTitle>Games</PageTitle>

<h1>Games</h1>

<p>This page lists your current in-progress games and allows you to start a new game.</p>

<ul class="list-group">
 <li class="list-group-item">(No games loaded yet)</li>
</ul>
