@page "/games/{GameId:guid}"

@using System.Net.Http.Json
@using MudBlazor
@using MattEland.Jaimes.ServiceDefinitions.Responses

<PageTitle>Game Details</PageTitle>

<MudPaper Class="pa-4">
 <MudText Typo="Typo.h5">Game details</MudText>

 @if (isLoading)
 {
 <MudProgressCircular Indeterminate="true" Class="my-4" />
 }
 else if (!string.IsNullOrEmpty(errorMessage))
 {
 <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
 }
 else if (game is null)
 {
 <MudText>(No game loaded)</MudText>
 }
 else
 {
 <MudText><b>Game ID:</b> @game.GameId</MudText>
 <MudText><b>Messages:</b> @((game.Messages?.Length) ??0)</MudText>

 <MudDivider Class="my-2" />
 <MudText Typo="Typo.h6">Messages</MudText>
 <ul class="mud-list">
 @foreach (var m in game.Messages ?? Array.Empty<MessageResponse>())
 {
 <li>@m.Text</li>
 }
 </ul>
 }
</MudPaper>